<mat-form-field class="example-full-width">
    <mat-select  placeholder="选择日期" [(ngModel)]="selectedValue" name="item">
      <mat-option *ngFor="let item of items" [value]="item">
        {{item}}
      </mat-option>
    </mat-select>
   </mat-form-field>
  <app-myproject-calendar (notifier)="onClick($event)"></app-myproject-calendar>
  <mat-tab-group>


      <mat-tab label="人员调动">
        <mat-list>
          <mat-list-item *ngFor="let item of showData?.staffChangeEvent?.isLeave">

            <span class="staff" >{{item.staffName}}</span>
            <mat-icon>arrow_forward</mat-icon>
            leave


          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item *ngFor="let item of showData?.staffChangeEvent?.isJoin">
              <span  class="staff" >{{item.staffName}}</span>
               <mat-icon>arrow_back</mat-icon>
              join

            </mat-list-item>
        </mat-list>
      </mat-tab>
      <mat-tab label="今日周记提交">
        <mat-accordion>
          <mat-expansion-panel *ngFor="let item of showData?.diary">
            <mat-expansion-panel-header>
              {{item.staffName}}
            </mat-expansion-panel-header>
            {{item.content}}
          </mat-expansion-panel>
        </mat-accordion>
  
      </mat-tab>
      <mat-tab label="今日加班">
        <mat-list>
          <mat-list-item *ngFor="let item of showData?.overtime">
            <span class="staff">{{item.staffName}}</span>
            {{item.start}}-{{item.over}}
            共{{item.time}}小时
            <mat-divider></mat-divider>
          </mat-list-item>
          
          
        </mat-list>
      </mat-tab>
    </mat-tab-group>
