<mat-tab-group>
  <mat-tab label="未读周记">
    <mat-list>
      <mat-list-item>item
        <button mat-button (click)="openDialog()">查看</button>
      </mat-list-item>
      <mat-list-item>item
        <button mat-button (click)="openDialog()">查看</button>
      </mat-list-item>
      <mat-list-item>item
        <button mat-button (click)="openDialog()">查看</button>
      </mat-list-item>
      <mat-list-item>item
        <button mat-button (click)="openDialog()">查看</button>
      </mat-list-item>
    </mat-list>
  </mat-tab>
  <mat-tab label="已读周记">
    <mat-list>
      <mat-list-item>item
        <button mat-button (click)="openDialog()">查看</button>
      </mat-list-item>
      <mat-list-item>item
        <button mat-button (click)="openDialog()">查看</button>
      </mat-list-item>
      <mat-list-item>item
        <button mat-button (click)="openDialog()">查看</button>
      </mat-list-item>
      <mat-list-item>item
        <button mat-button (click)="openDialog()">查看</button>
      </mat-list-item>
    </mat-list>
  </mat-tab>
</mat-tab-group>