
<mat-card class="login">
  <mat-card-header>
    <mat-card-title>登录到管理系统</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field class="login-">
      <input matInput placeholder="工号" type="text" >
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="密码" [type]="password_hide? 'password' : 'text'">
      <mat-icon matSuffix (click)="password_hide = !password_hide">{{password_hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>
    
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>确定</button>
  </mat-card-actions>
</mat-card>