:host{
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: blueviolet;
    justify-content: center;
    align-items: center;
    .login{
        width: 100%;
        max-width: 450px;
        position: relative;
        mat-progress-bar{
            position: absolute;
            top:5px;
            left: 0;
        }
        mat-card-content{
            display: flex;
            flex-wrap: wrap;
            mat-form-field{
                padding-left: 10px;
            }
        }
    }
}