
<app-auto-complate (selectedStaff)="newSelect($event)"></app-auto-complate>
 <mat-form-field class="example-full-width">
   <mat-select [disabled]="!staffData" placeholder="选择日期" [(ngModel)]="selectedValue" name="item">
     <mat-option *ngFor="let item of items" [value]="item">
       {{item}}
     </mat-option>
   </mat-select>
  </mat-form-field>
  
<h2 *ngIf="staffData">
  {{staffData?.staffName}} 在 该项目组总共干了10天，加了123个小时班
  提交了12个周记
</h2>
<h2 *ngIf="selectedValue">
  
  他在这个月{{selectedValue}}总共加班13个小时，干了5天，提交了2个周记

</h2>
<app-myproject-calendar *ngIf="selectedValue" mode="project-staff" (notifier)="onClick($event)"></app-myproject-calendar>