<h1 mat-dialog-title>读一读他们写的周记吧！</h1>
<div mat-dialog-content class="content">
 <mat-card>
   <mat-card-header>
     <mat-card-title>周记标题</mat-card-title>
     <mat-card-subtitle>周记作者</mat-card-subtitle>
   </mat-card-header>
   <mat-card-content>
     <p class="diary-content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga eveniet dolorem, veritatis adipisci rem vero est perferendis dolor quam nulla reiciendis totam commodi dignissimos quos tempore aspernatur autem nobis nam delectus, nihil at minima? Autem voluptatum assumenda earum eius quod quasi, eveniet sed, minima vel nostrum inventore, non similique iure. Porro velit in, fugiat saepe impedit assumenda repellendus reprehenderit modi hic optio ipsum. Nam, tempore quam obcaecati recusandae assumenda, dolorum ab, iste voluptate quibusdam blanditiis expedita corporis nobis vero commodi iusto. Quidem quisquam soluta recusandae veritatis odio esse atque harum, molestias eaque similique possimus distinctio inventore ut quo at fuga?
     </p>
   
   </mat-card-content>
   <mat-card-actions>
     
   </mat-card-actions>
 </mat-card>
</div>
<div mat-dialog-actions>
    <button mat-button>上一条</button>
    <button mat-button>下一条</button>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  
</div>
