<!-- <div class="container">
    <mat-card class="project-card" *ngFor="let item of projectList$ | async ">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"><mat-icon class="icon">card_travel</mat-icon></div>
          <mat-card-title>{{item.projectName}}</mat-card-title>
          <mat-card-subtitle>{{item.projectId}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item>地址：{{item.projectAddr}};</mat-list-item>
            <mat-list-item>公司：{{item.projectCompany}}</mat-list-item>
            <mat-list-item>项目开始时间：{{item.projectStartDate}}</mat-list-item>
            <mat-list-item>项目结束时间：{{item.projectEndDate}}</mat-list-item>
            <mat-list-item>项目外派人数：{{item.projectNOP}}</mat-list-item>
            <mat-list-item>项目状态：{{item.projectStatus}}</mat-list-item>
          </mat-list>

        </mat-card-content>
        <mat-card-actions>
          <button  mat-stroked-button [routerLink]="[ '/admin/project/project-calendar', item.projectId]">项目日历</button>
          <button mat-stroked-button [routerLink]="[ '/admin/project/projectStaff', item.projectId]">项目人员</button>
        </mat-card-actions>
      </mat-card>


</div> -->

<mat-accordion>
  <mat-expansion-panel *ngFor="let item of projectList$ | async ">
    <mat-expansion-panel-header>
      <div  class="title">
          {{item.projectName}}
          {{item.projectStartDate}}
         
          <span class="round" [style.background]="item.projectStatus===0?'yellow':
          item.projectStatus===1?'red':'green'"></span>
      </div>
     
       
    </mat-expansion-panel-header>
    <mat-list>
      <mat-list-item>id:{{item.projectId}}</mat-list-item>
      <mat-list-item>地址：{{item.projectAddr}};</mat-list-item>
      <mat-list-item>公司：{{item.projectCompany}}</mat-list-item>
      <mat-list-item>项目结束时间：{{item.projectEndDate}}</mat-list-item>
      <mat-list-item>项目外派人数：{{item.projectNOP}}</mat-list-item>
      
      <mat-list-item>
          <button  mat-stroked-button [routerLink]="[ '/admin/project/project-calendar', item.projectId]">项目日历</button>
          <button mat-stroked-button [routerLink]="[ '/admin/project/projectStaff', item.projectId]">项目人员</button>
          <ng-container *ngIf="item.projectStatus==0">
              <button mat-stroked-button>暂停项目</button>
              <button mat-stroked-button>结束项目</button>
          </ng-container>
          <ng-container *ngIf="item.projectStatus==1">
              <button mat-stroked-button>重启项目</button>
              <button mat-stroked-button>结束项目</button>
          </ng-container>

      </mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</mat-accordion>
