<mat-accordion>
  <mat-expansion-panel *ngFor="let item of mipList">
    <mat-expansion-panel-header>
      <mat-panel-title>
        关重问题
      </mat-panel-title>
      <mat-panel-description>
        {{item.title}}
        <span class="status" [ngStyle]="{'background': item.problemStatus===0? 'red':'green'}">
        </span>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <mat-list>
        <mat-list-item> {{item.content}}</mat-list-item>
        <mat-list-item>
          <p matLine>
              提交人：<mat-chip class="member-name">{{item.apply.staffName}}</mat-chip> 
          </p>
          <span matLine>提交时间：{{item.apply.applyDate}}</span>
        </mat-list-item>
        <mat-list-item>
            <p matLine>
                审批人：{{item.admit.staffName}}
            </p>
            <span matLine>审批时间：{{item.admit.admitDate}}</span>
          </mat-list-item>
       </mat-list>

  </mat-expansion-panel>
</mat-accordion>