<mat-card class="reset-password" color="accent">
  <mat-card-header>
    <mat-card-title>重新设置您的密码</mat-card-title>
  </mat-card-header>
  <mat-card-content>
   


    <mat-form-field>
        <input matInput placeholder="请输入新密码" 
        required [type]="password_hide? 'password' : 'text'"
        minlength="6"
        maxlength="12"
        [(ngModel)]="password"
        #ps="ngModel"
        >
        <mat-icon matSuffix (click)="password_hide = !password_hide">{{password_hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-error *ngIf="ps.errors?.required">新密码不能为空</mat-error>
        <mat-error *ngIf="ps.errors?.minlength">新密码不少于6位数</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="请再次输入密码" 
        required [type]="password_hide? 'password' : 'text'" 
        maxlength="12"
        [(ngModel)]="password2"
        #ps2="ngModel"
        >
        <mat-error *ngIf="ps2.errors?.required">请重复输入一遍</mat-error>
        <mat-error *ngIf="true">两次输入密码不一致</mat-error>  
      </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>确定</button>
  </mat-card-actions>
</mat-card>
